html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --max-width: 1440px;
    /* color */
    --black-color: #0E0E29;
    --white-color: #FFFFFF;
    --green-main-color: #0E5135;
    --dot-active-color: #226317;
    --dot-inactive-color: #CCD6CB;
    --green-light-color: rgba(113, 213, 171, 0.1);
    --green-dark-color: rgba(113, 213, 171, 0.2);
    --border-color: #243D30;
    --line-color: #DBDBDB;
}

* {
    color: var(--black-color);
}

*,
intro__child::after,
::before {
    box-sizing: border-box;
}

header .wrapper {}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;

    /* padding: 0 15px; */

}

.font-kanit {
    font-family: 'Kanit', sans-serif;
}

.font-mulish {
    font-family: 'Mulish', sans-serif;
}

.line-header {
    position: absolute;
    top: 234px;
    width: 100%;
    border-bottom: 2px solid var(--green-main-color);
}


/* ==== header ====*/
.header {
    height: 234px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2px;
    padding: 0 15px;
}

p.header__title {
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    text-transform: capitalize;
    width: 556px;
    height: 45px;
    text-align: center;
}

.header__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__tab {
    border: 2px solid var(--green-main-color);
    border-bottom: none;
    width: 220px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab-left {
    border-top-left-radius: 2px;
}

.tab-right {
    border-top-right-radius: 2px;
}

.tab-active {
    color: var(--white-color);
    background-color: var(--green-main-color);


}

.tab-active p {
    color: var(--white-color);
}

.header_tab--text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-transform: capitalize;
    color: var(--black-color)
}

/* ==== header ====*/


/* ==== intro ====*/
.intro__child {
    display: flex;
    align-items: center;
    width: 100%;
    height: 584px;

}

/* step */
.intro__step {
    height: 100%;
    flex: 6.5277778;
    background-color: var(--green-light-color);

}

.step {
    opacity: 0;
    animation: showstep 0.8s ease-in-out forwards;

}

@keyframes showstep {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro__step--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding-top: 80px;

}

.intro__step--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 321px;
}

.intro__step--item img {
    width: 188px;
    height: 100%;
}

.step-text {
    width: 267px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.step-desciption {
    margin-top: 35.75px;
    width: 267px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
}

.intro__step--button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
}

.intro__step--button>button {
    width: 120px;
    height: 32px;
    padding: 0;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

p.button-text {
    width: 74px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

/* step */

/* benifit */

.benifit {
    opacity: 0;
    animation: showbinifit 1.2s ease-in-out forwards;

}

@keyframes showbinifit {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro__benifit {
    /* width: 500px; */
    height: 100%;
    flex: 3.4722222;
    background-color: var(--green-dark-color);

}

.intro__benifit--wrapper {
    padding-top: 80px;
    padding-left: 40px;

}

.benifit-title {
    width: 268px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.intro__benifit--item {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    margin-bottom: 32px;
}

.benifit__desc--1 {
    width: 258px;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
    margin-bottom: 4px;
}

.benifit__desc--2 {
    width: 258px;
    height: 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
}

.benifit-icon {
    width: 37px;
    height: 37px;
    border-radius: 100rem;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* benifit */


/* ==== intro ====*/

/* ==== headHunter ====*/
.headHunter {
    background-color: var(--green-light-color);
    height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.headHunter__wrapper {
    width: 100%;
    height: 100%;
}

.headHunter__text {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headHunter__title {
    width: 556px;
    height: 50px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--black-color);

}

.headHunter__subTitle {
    width: 556px;
    height: 54px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}


.headHunter__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slider-wrapper {
    display: none;
    position: relative;
}

.slider-wrapper nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    pointer-events: none;
}

.slider-wrapper nav div {
    width: 40px;
    height: 40px;
    background-color: #82ca9c;
    color: white;
    font-size: 21px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    pointer-events: all;
}


.slider {
    width: 100%;
    overflow-x: scroll;
    padding: 0 16px;
}

.slider .wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.slider .slide {
    width: 260px;
    height: 312px;
    background-color: var(--green-dark-color);
    padding: 16px;
}

.slider .slide:not(:last-child) {
    margin-right: 8px;
}

.slide__ava {
    width: 86px;
    height: 86px;
}

.slide__content {
    margin-top: 20px;
}

.slide__content--text {
    margin-top: 9px;
    width: 228px;
    height: 93px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
}

.slide__content--auth {
    width: 228px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
    margin-top: 8px;

}

.slide__content--auth strong {
    font-weight: 700;
}

.slide__dot {
    width: 22px;
    height: 17px;
}

/* slider laptop */
.slide__child {
    display: none;
    gap: 96px;
    position: relative;
    left: 38px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide__item {
    width: 480px;
    height: 288px;
    display: flex;
    background-color: var(--green-dark-color);
    padding-top: 57px;
    padding-bottom: 59px;

}

.slide__content--lap {
    position: relative;
    left: -56px;
    display: flex;
    flex-direction: column;

}

.slide__dot--lap {
    width: 22px;
    height: 17px;
}

.slide__content--text--lap {
    width: 340px;
    height: 73px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
    margin-top: 8px;
}

.slide__content--auth--lap {
    width: 340px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);

}

.slide__content--auth--lap strong {
    font-weight: 700;
}

.slide__child>.slide__item:nth-child(2)>.slide__content--lap>.slide__content--auth--lap {
    /* flex: 1; */


    margin-top: auto;
}

.slide__item--ava {
    position: relative;
    left: -76px;
    width: 172px;
    height: 172px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1440px;
    position: relative;
    /* margin: 0 auto; */
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.div-dot {
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dot {
    cursor: pointer;
    height: 4px;
    width: 56px;
    margin: 0 2px;
    background-color: var(--dot-inactive-color);
    border-radius: 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active,
.dot:hover {
    background-color: var(--dot-active-color);
}

/* ==== headHunter ====*/


/* ==== questions ====*/

.questions {
    background-color: var(--white-color);


}

.questions__wrapper {
    height: 700px;
    padding: 132px 129px 132px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* parallax */
.showtotop {
    opacity: 0;
}

.parallax__active .showtotop {
    animation: showtop 1s ease-in-out 1s forwards;
}

@keyframes showtop {
    from {
        opacity: 0;
        transform: translate(0, -100px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.delay-1 {
    animation-delay: 0.3s !important;
}

.delay-2 {
    animation-delay: 0.6s !important;
}

.delay-3 {
    animation-delay: 0.9s !important;
}

.questions__title {
    width: 649px;
    height: 49px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.questions__item {
    padding: 16px 0;
    border-bottom: 1px solid var(--line-color);
    width: 652px;
}

.questions__item--sentence {
    height: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 47px;
    text-transform: capitalize;
    cursor: pointer;

}

.open-active {
    text-indent: 5px;
    line-break: loose;
}


.questions__item--content {
    margin-top: 8px;
    height: 95px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    display: none;
}

.item-selected {
    display: block;
}

/* ==== questions ====*/



/* responsive */
@media only screen and (max-width: 1320px) {
    .questions__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 31.41px;
        padding-top: 108px;
    }
}

@media only screen and (max-width: 1200px) {
    .intro__child {
        display: block;
        height: 100%;
    }

    .intro__step,
    .intro__benifit {
        flex: 1;
    }

    .intro__benifit--wrapper {
        padding: 0 15px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .benifit-title {
        width: 306px;
    }

    /* slide */

    .headHunter {
        height: 100%;
    }

    .slideshow-container {
        display: none;
    }

    .slider-wrapper {
        display: block;
    }

    .headHunter__slide {
        padding-bottom: 64px;
        display: block;
    }

    .div-dot {
        display: none;
    }

    .headHunter__text {
        padding-bottom: 28px;
    }

}

@media only screen and (max-width: 920px) {
    .questions__wrapper {
        padding: 108px 0 88px;
    }
}

@media only screen and (max-width: 860px) {
    .intro__child {
        height: 100%;
    }


    .intro__step--wrapper {
        display: block;
        padding: 25px 15px 0;
    }

    .intro__step--wrapper>.intro__step--item:not(:first-child) {
        margin-top: 82px;
    }

    .intro__step--item {
        height: 301px;
    }

    .intro__step--item .step-desciption {
        margin-top: 16px;
    }

    .intro__step--button {
        margin-top: 32px;

    }

    .intro__benifit--wrapper {
        padding: 56px 15px 24px;
    }
}

@media only screen and (max-width: 700px) {
    .questions__title {
        width: 100%;
        height: 38px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: -8px;
    }

    .questions__left {
        padding: 0 15px;
    }

    .questions__item {
        width: 100%;
        /* padding: 0 15px; */
        padding: 24px 0;
    }

    .questions__item--sentence {
        height: 100%;
        font-size: 18px;
        line-height: 32px;
    }

    .questions__item--content {
        height: 100%;
    }

    .questitons__right img {
        width: 281px;
        height: 283px;
    }

    /* headHunter */
    .headHunter {
        margin-top: 5px;
        height: 100%;
    }

    .headHunter__text {
        padding: 0 16px;
        padding-top: 45px;
        padding-bottom: 41px;
    }

    .headHunter__title {
        width: 100%;
        height: 36px;
        font-size: 24px;
        line-height: 34px;
    }

    .headHunter__subTitle {
        width: 100%;
        height: 67px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        height: 182px;
    }

    .line-header {
        top: 182px;
    }

    p.header__title {
        width: 100%;
        height: 40px;
        font-size: 32px;
        line-height: 34px;
    }

    .header__tab {
        width: 172px;
    }

    .modal-content {

        width: calc(100% - 30px) !important;
        height: 30vw !important;
    }
}

@media only screen and (max-width: 400px) {
    p.header__title {
        width: 100%;
        height: 35px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .intro__benifit--wrapper {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 373px) {
    .header__tab {
        width: 100%;

    }

    .header__tab--text {
        padding: 12px 15px;
    }
}



/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;

}

.modal-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    height: 40vw;
    min-height: 350px;
    max-height: 500px;
    object-fit: fill;
}

.modal-content,
.close {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}